<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <link rel="stylesheet" href="./css/header.css" />
    <meta charset="UTF-8">
    
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
    <title>Netflix</title>
  </head>
  <body id="app">
    
    <header>
    <a href="#" class="logo"><img src="images/netflixLogo.jpg"></a>
    <ul class="navigation">
      <li v-for="x in menu">
        <a v-bind:href="'#'+x.href">{{ x }}</a>
      </li>
    </ul>
    <div class="search">
        <input type="text" placeholder="Search">
        <i class="fa fa-search" aria-hidden="true"></i>
    </div>
    </header>
    <div class="banner">
        <img src="images/BackgroundForMovie.jpg" class="bg"/>
        <div class="content">
          <img src="images/name.png"class="movieTitle">
          <h4>
            <span>Action Adventure Sci-Fi</span>
            <span><i>9+</i></span>
            <span>2h 4min</span>
            <span>1980</span>
          </h4>
          <p>
            After the Rebels are brutally overpowered by the Empire on the ice planet Hoth, 
            Luke Skywalker begins Jedi training with Yoda, 
            while his friends are pursued across the galaxy by Darth Vader and bounty hunter Boba Fett.
          </p>
          <div class="buttons">
            <a href="#"><i class="fa fa-play" aria-hidden="true"> Play</i></a>
            <a href="#"><i class="fa fa-plus" aria-hidden="true"> My List</i></a>
          </div>
        </div>
        <a href="#" class="play" @click="isActive = !isActive"><img src="images/playbutton.png">Watch Trailer</a>
    </div>
    <div v-if="isActive" :class="{trailer : isActive}">
      <video src="images/trailer.mp4" controls="true" autoplay="false"></video>
      <img @click="isActive = !isActive" src="images/close.png" class="close">
      
    </div>
   
    <div class="carousel">
      <h2>New Arrivals</h2>
      <div class="carouselbox" id="latest">
        
      </div>
      <a class="switchLeft sliderButton" @click="sliderScrollLeft()"><</a>
      <a class="switchRight sliderButton" @click="sliderScrollRight()">></a>
  </div>
  

 
  <script type="application/javascript" src="scripts/header.js"></script>
  <script>
    app.mount('#app')
  </script> 
  </body>
  
  
</html>